# Geral
*.log
.coverage
coverage
.env
.env.*
.vscode
.idea

# Node/Vite/Nest/etc
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.vite
.cache
dist
build

# Git e docker
.git
.gitignore
Dockerfile
docker-compose*.yml